body {
    text-align: center;
    width: 90%;
    max-height: 50%;
    margin: 0 auto;
    padding: 0px;
    font-family: helvetica;
    background-image: url(bg.png);
}

#wrapper {
    margin-top: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 995px;
}

#effect {
    background-color: #4b9e42c5;
    position: relative;
    width: 995px;
    height: 510px;
    box-shadow: 0px 0px 10px 0px #610B0B;
}

#effect p {
    margin-top: 10px;
    font-size: 30px;
    color: #000000;
}

#curtain1 {
    top: 0px;
    position: absolute;
    left: 0px;
    height: 520px;
}

#curtain2 {
    top: 0px;
    position: absolute;
    height: 520px;
    right: 0px;
}

#flowers {
    margin-top: 200px;
    width: 200px;
    height: 40px;
}

#pattern {
    margin-top: 20px;
    width: 900px;
    height: 50px;
    opacity: 50%;
}

#curtain_buttons input {
    margin-top: 20px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: larger;
    background-color: #3a3939;
    border: none;
    border-bottom: 6px solid #313030;
    cursor: pointer;
}

#button {
    margin-top: 180px;
    background-color: #4CAF50;
    border-bottom: 6px solid #313030;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}